<!-- Appointments -->
<% include ./partials/header %>
<% include ./partials/navbar %>
<div class="flex-container">
  <% include ./partials/search %>
  <hr>
  <% include ./partials/table %>  
</div>
<% include ./partials/footer %>
