<!-- index -->
<% include ./partials/header %>
<% include ./partials/navbar %>
<div class="flex-container">
  <% include ./partials/appointment-form %>
  <hr>
  <% include ./partials/calendar %>
</div>
<% include ./partials/footer %>
